# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-shift-alt-b': 'bug-report:open'
'.title-input.native-key-bindings':
  'enter': 'core:confirm'
'.token-input.native-key-bindings':
  'enter': 'core:confirm'
'.repo-input.native-key-bindings':
  'enter': 'core:confirm'
